<div class="container">
  <h2 class="title" id="title">S P L I<br/>T T E R</h2>

  <div class="tipCalculator">
    <!--  left  -->
    <form class="tipCalculator__form" [formGroup]="tipCalculatorForm">
      <div class="tipCalculatorForm__bill">
        <label for="bill">Bill</label>
        <input id="bill" name="bill" type="number" formControlName="bill"
               [value]="tipCalculatorForm.get('bill')?.value">
      </div>
      <div class="tipCalculatorForm__tip">
        <app-tip-button [tipValue]="5"></app-tip-button>
        <app-tip-button [tipValue]="10"></app-tip-button>
        <app-tip-button [tipValue]="15"></app-tip-button>
        <app-tip-button [tipValue]="25"></app-tip-button>
        <app-tip-button [tipValue]="50"></app-tip-button>
        <!-- TODO <input id="tipCustom" type="number" formControlName="tip" min="0" max="100" name="tip" placeholder="Custom">-->
      </div>
      <div class="tipCalculatorForm__numberPeople">
        <label for="numberPeople">Number of People</label>
        <input id="numberPeople" type="number" formControlName="numberPeople" [min]="0">
      </div>
    </form>

    <!--  right  -->
    <div class="tipCalculator__tipDisplay">
      <div class="tipCalculator__tipAmount">
        <div>Tip Amount <span>/ person</span></div>
        <p>{{tipAmount | currency}}</p>
      </div>
      <div class="tipCalculator__total">
        <div>Total <span>/ person</span></div>
        <p>{{total | currency}}</p>
      </div>
      <button class="tipCalculator__resetButton" (click)="reset()">RESET</button>
    </div>
  </div>

</div>
