<div class="container">
  <h2 class="title" id="title">S P L I<br />T T E R</h2>

  <div class="tipCalculator">
    <!--  left  -->
    <form class="tipCalculator__form" [formGroup]="tipCalculatorForm">
      <div class="tipCalculatorForm__bill">
        <label for="bill">Bill</label>
        <input
          id="bill"
          name="bill"
          type="text"
          formControlName="bill"
          class="tipCalculatorForm__numberInput"
          placeholder="0"
          (change)="transformAmount($event)"
          [(ngModel)]="formattedAmount"
        />
      </div>
      <div class="tipCalculatorForm__tip">
        <label class="tipCalculatorFormTip__title">Select Tip %</label>
        <div class="tipCalculatorForm__tips">
          <app-tip-button [tipValue]="5" [parentForm]="tipCalculatorForm"></app-tip-button>
          <app-tip-button [tipValue]="10" [parentForm]="tipCalculatorForm"></app-tip-button>
          <app-tip-button [tipValue]="15" [parentForm]="tipCalculatorForm"></app-tip-button>
          <app-tip-button [tipValue]="25" [parentForm]="tipCalculatorForm"></app-tip-button>
          <app-tip-button [tipValue]="50" [parentForm]="tipCalculatorForm"></app-tip-button>
          <input
            id="tipCustom"
            class="tipCalculatorForm__customTip"
            type="number"
            formControlName="tip"
            min="0"
            max="100"
            name="tip"
            placeholder="Custom"
          />
        </div>
      </div>
      <div class="tipCalculatorForm__numberPeople">
        <label for="numberPeople">Number of People</label>
        <input
          class="tipCalculatorForm__numberInput"
          id="numberPeople"
          type="number"
          formControlName="numberPeople"
          [min]="0"
          placeholder="0"
        />
      </div>
    </form>

    <!--  right  -->
    <div class="tipCalculator__tipDisplay">
      <div class="tipDisplay__tipAmount">
        <div>
          <p class="tipDisplay__name">Tip Amount</p>
          <p class="tipDisplay__person">/ person</p>
        </div>
        <p class="tipDisplay__value" id="tipAmount">{{ tipAmount | currency }}</p>
      </div>
      <div class="tipDisplay__total">
        <div>
          <p class="tipDisplay__name">Total</p>
          <p class="tipDisplay__person">/ person</p>
        </div>
        <p class="tipDisplay__value">{{ total | currency }}</p>
      </div>
      <button class="tipCalculator__resetButton" (click)="reset()">RESET</button>
    </div>
  </div>
</div>
