<div class="container">
  <img src="assets/images/logo.svg" alt="SPLITTER Logo" class="logo" />

  <div class="tipCalculator">
    <!--  left  -->
    <form class="tipCalculator__form" [formGroup]="tipCalculatorForm">
      <div class="tipCalculatorForm__bill">
        <label for="bill"
          >Bill
          <span
            *ngIf="tipCalculatorForm.get('bill')?.dirty && tipCalculatorForm.get('bill')?.errors?.['min']"
            class="tipCalculatorForm__errorMessage"
            id="bill__errorMessage"
            style="float: right"
            >Can't be zero or negative!</span
          ></label
        >
        <input
          id="bill"
          name="bill"
          type="text"
          inputmode="numeric"
          formControlName="bill"
          class="tipCalculatorForm__numberInput tipCalculatorForm__dollarIcon"
          placeholder="0"
          (blur)="transformAmount($event)"
        />
      </div>
      <div class="tipCalculatorForm__tip">
        <label class="tipCalculatorFormTip__title"
          >Select Tip %
          <span
            *ngIf="tipCalculatorForm.get('tip')?.dirty && tipCalculatorForm.get('tip')?.errors?.['min']"
            class="tipCalculatorForm__errorMessage"
            id="tipCustom__errorMessage"
            style="float: right"
            >Can't be negative!</span
          ></label
        >
        <div class="tipCalculatorForm__tips">
          <app-tip-button [tipValue]="5" [parentForm]="tipCalculatorForm"></app-tip-button>
          <app-tip-button [tipValue]="10" [parentForm]="tipCalculatorForm"></app-tip-button>
          <app-tip-button [tipValue]="15" [parentForm]="tipCalculatorForm"></app-tip-button>
          <app-tip-button [tipValue]="25" [parentForm]="tipCalculatorForm"></app-tip-button>
          <app-tip-button [tipValue]="50" [parentForm]="tipCalculatorForm"></app-tip-button>
          <input
            id="tipCustom"
            class="tipCalculatorForm__customTip"
            type="number"
            formControlName="tip"
            min="0"
            max="100"
            name="tip"
            placeholder="Custom"
          />
        </div>
      </div>
      <div class="tipCalculatorForm__numberPeople">
        <label for="numberPeople"
          >Number of People
          <span
            *ngIf="tipCalculatorForm.get('numberPeople')?.dirty && tipCalculatorForm.get('numberPeople')?.errors?.['min']"
            class="tipCalculatorForm__errorMessage"
            id="numberPeople__errorMessage"
            style="float: right"
            >Can't be zero!</span
          >
        </label>
        <input
          class="tipCalculatorForm__numberInput tipCalculatorForm__personIcon"
          id="numberPeople"
          type="number"
          formControlName="numberPeople"
          placeholder="0"
          min="0"
        />
      </div>
    </form>

    <!--  right  -->
    <div class="tipCalculator__tipDisplay">
      <div class="tipDisplay__tipAmount">
        <div>
          <p class="tipDisplay__name">Tip Amount</p>
          <p class="tipDisplay__person">/ person</p>
        </div>
        <p class="tipDisplay__value" id="tipAmount">{{ tipAmount | currency }}</p>
      </div>
      <div class="tipDisplay__total">
        <div>
          <p class="tipDisplay__name">Total</p>
          <p class="tipDisplay__person">/ person</p>
        </div>
        <p class="tipDisplay__value">{{ total | currency }}</p>
      </div>
      <button class="tipCalculator__resetButton" (click)="reset()">RESET</button>
    </div>
  </div>
</div>
