.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 720px;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 20px;
}

.tipCalculator {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  padding: 30px;
  border-radius: 20px;
}

.tipCalculator__form {
  flex: 1;
  padding: 15px 10px 15px;
}

.tipCalculatorForm__bill {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tipCalculatorForm__bill label {
  margin-bottom: 0.4em;
}

.tipCalculatorForm__tip {
  display: flex;
  flex-wrap: wrap;
}

.tipCalculator__tipDisplay {
  background-color: var(--very-dark-cyan);
  border-radius: 20px;
  padding: 1em;
  flex: 1;
}

.tipCalculator__resetButton {
  width: 100%;
  border-radius: 10px;
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
  font-family: 'space-mono-bold', monospace;
  font-size: 24px;
  padding: 10px 0 10px;
}

.tipDisplay__name {
  color: white;
  font-size: 0.7em;
  font-weight: bold;
}

.tipDisplay__person {
  color: var(--dark-grayish-cyan);
  font-size: 0.6em;
  font-weight: bold;
}

.tipDisplay__value {
  color: var(--strong-cyan);
  font-size: 1.2em;
  font-weight: bold;
}

