/* You can add global styles to this file, and also import other style files */
/* Colors Variables */
:root {
  --very-dark-cyan: hsl(183, 100%, 15%);
  --strong-cyan: hsl(172, 67%, 45%);
  --light-cyan: #9ee8df;
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
}

@font-face {
  font-family: 'space-mono';
  src: url('./assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'space-mono-bold';
  src: url('./assets/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'space-mono-bold-italic';
  src: url('./assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'space-mono-bold';
  src: url('./assets/fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: var(--light-grayish-cyan);
  font-size: 24px;
  font-family: 'space-mono', 'monospace';
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
