/* You can add global styles to this file, and also import other style files */
body {
  background-color: hsl(185, 41%, 84%);
  font-size: 24px;
  font-family: monospace, Monaco, "Lucida Console";
}
