input {
  visibility: hidden;
  height: 0;
  width: 0;
}

label {
  background-color: var(--very-dark-cyan);
  border-radius: 0.2em;
  cursor: pointer;
  color: white;
  font-family: space-mono-bold, monospace;
  padding: 0.15em 1.7em;
  width: 110px;
}

label:hover {
  background-color: var(--light-cyan);
  color: var(--very-dark-cyan);
  transition: all 0.5s ease;
}

.tipButton--checked {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
