div {
  align-items: center;
  background-color: var(--very-dark-cyan);
  border-radius: 0.2em;
  color: white;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 120px;
}

div:hover {
  background-color: var(--light-cyan);
  color: var(--very-dark-cyan);
  transition: all 0.5s ease;
}

input {
  display: none;
}

label {
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-family: space-mono-bold, monospace;
}

.tipButton--checked {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
